# Created by venv; see https://docs.python.org/3/library/venv.html
# Python virtual environments
venv/
.venv/
*/__pycache__/
*.py[cod]
*.pyo
*.pyc

# Python bytecode
__pycache__/
*.py[cod]

# SQLite database file 
*.db

# VSCode settings 
.vscode/

# Environment variables
.env
*.env

# Node modules
node_modules/

# Log files
*.log


.DS_Store
Thumbs.db

# PyInstaller or packaging
*.spec
dist/
build/


# Python packages
pip-wheel-metadata/
pip.pyz

# Ignore backups or temporary files
*~
*.bak
*.swp

*.csv

# Large local files - DO NOT PUSH HERe
backend/cpes.db
backend/data/cpe_dict.xml
